body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  form {
    margin: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #21a1f1;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  input {
    height: 40px;
  }
  
  textarea {
    height: 100px;
  }
  